body{  
  text-align:center;
}


/* Carousel */
.carousel {
/* X: center */
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top:10px;
  
}
/* Carousel contains */
.contains {
  /* Same size as .slide */
  width: 1300px;
  height: 720px;
  overflow: hidden;
  position: relative;
  padding: 0;
  list-style: none;
}
/* MEMO: Slide radio button = hidden */
.slide_select {
  display: none;
}
/* Slide*/

.slide {
  /* Same size as .contains */
  width: 1300px;
  height: 720px;
  position: absolute;
  /* transparent */
  opacity: 0; /* basic:0 */
}


/* Forward & back button */
.scroll_button {
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 50%;
  margin-top: -20px;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #fdfdfd;
  cursor: pointer;
  opacity: 0.5; /* basic:0.5 */
  z-index: 3;
}

.scroll_button:hover {
  opacity: 1;
}

.scroll_prev {
  left: 15px;
  transform: rotate(-135deg);
}

.scroll_next {
  right: 15px;
  transform: rotate(45deg);
}

.move_controler {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Slide moving button */
.button_move {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0.5; /* basic:0.5 */
  z-index: 2;
}

.button_move:hover {
  opacity: 0.75;
}
/* slide moving button color */
.button_move {
  background-color: #fdfdfd;
}

.slide_select:nth-of-type(1):checked ~ .slide:nth-of-type(1) {
  opacity: 1;
}

.slide_select:nth-of-type(1):checked ~ .move_controler .button_move:nth-of-type(1) {
  opacity: 1;
}
.slide_select:nth-of-type(2):checked ~ .slide:nth-of-type(2) {
  opacity: 1;
}
.slide_select:nth-of-type(2):checked ~ .move_controler .button_move:nth-of-type(2) {
  opacity: 1;
}
.slide_select:nth-of-type(3):checked ~ .slide:nth-of-type(3) {
  opacity: 1;
}
.slide_select:nth-of-type(3):checked ~ .move_controler
  .button_move:nth-of-type(3) {
  opacity: 1;
}
.slide_select:nth-of-type(4):checked ~ .slide:nth-of-type(4) {
  opacity: 1;
}
.slide_select:nth-of-type(4):checked
  ~ .move_controler
  .button_move:nth-of-type(4) {
  opacity: 1;
}

.slidecomment{
  position: absolute;
  top:60%;
  left:70%;
  transform: translate(-50%, -50%);  
  padding:0;
  margin:0;
  animation: fadein 5s ease-out forwards;
}

.slidecomment p{
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 4em;
}


.slidecomment .start-btn{
  background-color: rgb(5, 109, 161);
  border: 2px solid white;
  border-radius: 10px;
  color:white;
  font-size: 1.5em;
  font-family: 'Public Sans', sans-serif;
  text-decoration: none;
  padding:10px;
  width:100px;
  height:50px;
  
}


@keyframes fadein{
  0% {opacity: 0}
  100% {opacity: 1}
}